{% extends "base.html" %}
{% block content %}

<!-- <h1>Label Counters</h1> -->
{% for counter in counters %}

    <div class="card" style="padding: 0; height: 100px">
      <div class="card-body">
        <div class="row">
          <div class="col-7 bg-light text-left">
            <!-- <p style="font-weight: bold; color: red;">This text will be bold and red.</p> -->
            <p class="title" style="font-weight: bold; font-size: 17px">{{ counter.label_desc }}</p>
            <p class="subtitle" style="font-size: 15px; " id="counter-{{ counter.label_no }}">{{ counter.count_val }}</p>
          </div>
          <div class="col-5 bg-light text-right">
            <button onclick="updateCountMinus('{{ counter.label_no }}', '{{ user_name}}')" class="btn btn-danger btn-xl">-</button>
            <button onclick="updateCountAdd('{{ counter.label_no }}', '{{ user_name}}')" class="btn btn-success btn-xl">+</button>
          </div>
        </div>
      </div>
    </div>

{% endfor %}

<script>
  window.addEventListener('beforeunload', function(event) {
    // Send a logout request to the server
    fetch('/logout', { method: 'GET', credentials: 'same-origin' });
  });
  
  function updateCountAdd(counterId, userName) {
      // Create a new XMLHttpRequest object
      var xhr = new XMLHttpRequest();
      
      // Set up the request
      xhr.open('POST', '/counter/' + userName, true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      
      // Set up the data to be sent
      var data = 'timestamp=' + new Date().getTime() + '&counter_id=' + counterId + '&buttontype=' + 'add';
      
      // Set up the callback function
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              console.log('Count updated successfully');
              updateCounterValue(counterId, 'add');
          }
      };
      
      // Send the request
      xhr.send(data);
  }
  
  function updateCountMinus(counterId, userName) {
      // Create a new XMLHttpRequest object
      var xhr = new XMLHttpRequest();
      
      // Set up the request
      xhr.open('POST', '/counter/' + userName, true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      
      // Set up the data to be sent
      var data = 'timestamp=' + new Date().getTime() + '&counter_id=' + counterId + '&buttontype=' + 'minus';
      
      // Set up the callback function
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              console.log('Count updated successfully');
              updateCounterValue(counterId, 'minus');
          }
      };
      
      // Send the request
      xhr.send(data);
  }

  function updateCounterValue(counterId, buttonType) {
      var counterElement = document.getElementById('counter-' + counterId);
      var count = parseInt(counterElement.innerText);
      if (buttonType == 'add'){
        count ++;
      } else {
        count --;
      }
      // Update the count value in the browser
      counterElement.innerText = count;
  }
</script>

{% endblock %}