{% extends "base.html" %}
{% block content %}

<!-- Counters -->
{% for counter in counters %}
    <div class="card" style="padding: 0; height: 100px">
      <div class="card-body">
        <div class="row">
          <div class="col-7 bg-light text-left">
            <!-- <p style="font-weight: bold; color: red;">This text will be bold and red.</p> -->
            <p class="title" style="font-weight: bold; font-size: 17px">{{ counter.label_desc }}</p>
            <p class="subtitle" style="font-size: 15px; " id="counter-{{ counter.label_no }}">{{ counter.count_val }}</p>
          </div>
          <div class="col-5 bg-light text-right">
            <!-- <button onmousedown="startUpdatingCounter('{{ counter.label_no }}', '{{ username }}', 'minus')" onmouseup="stopUpdatingCounter()" onmouseleave="stopUpdatingCounter()" class="btn btn-danger btn-xl">-</button>-->
            <button onmousedown="startUpdatingCounter('{{ counter.label_no }}', '{{ username }}', 'add')" onmouseup="stopUpdatingCounter()" onmouseleave="stopUpdatingCounter()" class="btn btn-success btn-xl">+</button>
          </div>
        </div>
      </div>
    </div>
{% endfor %}

<hr>

<!-- Download/Logout -->
<div class="row">
  <div class="col text-left">
    {% if current_user.id in [1, 2]: %}
    <a type="button" href="{{ url_for('download_counter', date_to_get='all')}}" class="btn btn-outline-info">Download data</a>
    {% endif %}
  </div>
  <div class="col-5 text-right">
    <a type="button" href="{{ url_for('logout')}}" class="btn btn-outline-info">Logout</a>
  </div>
</div>

<!-- Script -->
<script>

  var intervalId = null;

  function updateCount(counterId, userName, buttonType) {
    // Create a new XMLHttpRequest object
    var xhr = new XMLHttpRequest();

    // Set up the request
    xhr.open('POST', '/counter/' + userName, true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    // Set up the data to be sent
    var timestamp = new Date().getTime();
    var data = 'timestamp=' + timestamp + '&counter_id=' + counterId + '&buttontype=' + buttonType + '&username=' + userName;

    // Set up the callback function
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          console.log('Count updated successfully');
        } else {
          // Store the click data in localStorage if the server is unavailable
          var clickData = JSON.parse(localStorage.getItem('clickData')) || [];
          // Check if the timestamp already exists in localStorage
          var existingData = clickData.find(function(click) {
            return click.timestamp === timestamp;
          });

          if (!existingData) {
            clickData.push({
              timestamp: timestamp,
              data: data
            });
            localStorage.setItem('clickData', JSON.stringify(clickData));
            console.error('Fail to process click data. Stored offline:', data);
          }
        }
      }
    };
    
    updateCounterValue(counterId, buttonType);
    // Send the request
    xhr.send(data);
  }

  function startUpdatingCounter(counterId, userName, buttonType) {
    updateCount(counterId, userName, buttonType); // Call immediately

    setTimeout(function(){
      intervalId = setInterval(function() {
        updateCount(counterId, userName, buttonType);
      }, 200);
    }, 200);
  }

  function stopUpdatingCounter() {
    clearInterval(intervalId);
    intervalId = null;
  }

  function updateCounterValue(counterId, buttonType) {
    var counterElement = document.getElementById('counter-' + counterId);
    var count = parseInt(counterElement.innerText);
    if (buttonType === 'add') {
      count++;
    } else {
      count--;
    }
    // Update the count value in the browser
    counterElement.innerText = count;
  }

  function syncClickData() {
    var clickData = JSON.parse(localStorage.getItem('clickData'));
    if (clickData && clickData.length > 0) {
      var index = 0;
  
      function sendClickData() {
        var click = clickData[index];
  
        fetch('/offline', {
          method: 'POST',
          body: new URLSearchParams({
            click_data: click.data
          })
        })
        .then(function(response) {
          if (response.ok) {
            console.log('Click data stored offline:', click);
            clickData.splice(index, 1);
            localStorage.setItem('clickData', JSON.stringify(clickData));
          } else {
            console.error('Failed to store click data offline:', click);
          }
  
          index++;
  
          if (index < clickData.length) {
            setTimeout(sendClickData, 100); // Delay 100ms before sending the next click data
          }
        })
        .catch(function(error) {
          console.error('Error occurred during offline storage:', error);
        });
      }
  
      sendClickData();
    }
  }

  // Call syncClickData initially
  syncClickData();

  // Schedule periodic synchronization every 5 seconds
  setInterval(syncClickData, 10000);

</script>

{% endblock %}