__pycache__/
counter_server/static/files/counter_data/
counter_server/static/files/sensor_data/
counter_server/static/db/
counter_server/db/
sensor_server/db/
sensor_server/static/
sensor_server/s3/
.env